-- =============================================
-- DATABASE SCRIPT CHO ĐỀ THI QUÁ TRÌNH 04
-- SINH VIÊN: Đỗ Thanh Thành Tài
-- MSSV: 24133050
-- =============================================

USE master;
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'KT_QT')
BEGIN
    CREATE DATABASE KT_QT;
END
GO

USE KT_QT;
GO

-- Xóa bảng cũ nếu tồn tại (theo thứ tự khóa ngoại)
IF OBJECT_ID('OrderItems', 'U') IS NOT NULL DROP TABLE OrderItems;
IF OBJECT_ID('Orders', 'U') IS NOT NULL DROP TABLE Orders;
IF OBJECT_ID('Carts', 'U') IS NOT NULL DROP TABLE Carts;
IF OBJECT_ID('Shares', 'U') IS NOT NULL DROP TABLE Shares;
IF OBJECT_ID('Favorites', 'U') IS NOT NULL DROP TABLE Favorites;
IF OBJECT_ID('Videos', 'U') IS NOT NULL DROP TABLE Videos;
IF OBJECT_ID('Category', 'U') IS NOT NULL DROP TABLE Category;
IF OBJECT_ID('Users', 'U') IS NOT NULL DROP TABLE Users;
GO

-- 1. Bảng Users
CREATE TABLE Users (
    Username NVARCHAR(50) NOT NULL PRIMARY KEY,
    Password NVARCHAR(50) NOT NULL,
    Phone NVARCHAR(15) NULL,
    Fullname NVARCHAR(50) NULL,
    Email NVARCHAR(150) NULL,
    Admin BIT DEFAULT 0,
    Active BIT DEFAULT 1,
    Images NVARCHAR(500) NULL
);
GO

-- 2. Bảng Category (Tất cả ID đều tăng tự động)
CREATE TABLE Category (
    CategoryId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    Categoryname NVARCHAR(100) NULL,
    Categorycode NVARCHAR(100) NULL,
    Images NVARCHAR(500) NULL,
    Status BIT DEFAULT 1
);
GO

-- 3. Bảng Videos
CREATE TABLE Videos (
    VideoId NVARCHAR(50) NOT NULL PRIMARY KEY,
    Title NVARCHAR(200) NULL,
    Poster NVARCHAR(50) NULL,
    Views INT DEFAULT 0,
    Description NVARCHAR(500) NULL,
    Active BIT DEFAULT 1,
    Price DECIMAL(18, 0) NOT NULL DEFAULT 50000,
    CategoryId INT NULL FOREIGN KEY REFERENCES Category(CategoryId) ON DELETE SET NULL
);
GO

-- 4. Bảng Favorites (Tất cả ID đều tăng tự động)
CREATE TABLE Favorites (
    FavoriteId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    LikedDate DATE DEFAULT GETDATE(),
    VideoId NVARCHAR(50) NULL FOREIGN KEY REFERENCES Videos(VideoId) ON DELETE CASCADE,
    Username NVARCHAR(50) NULL FOREIGN KEY REFERENCES Users(Username) ON DELETE CASCADE
);
GO

-- 5. Bảng Shares (Tất cả ID đều tăng tự động)
CREATE TABLE Shares (
    ShareId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    Emails NVARCHAR(50) NULL,
    SharedDate DATE DEFAULT GETDATE(),
    Username NVARCHAR(50) NULL FOREIGN KEY REFERENCES Users(Username) ON DELETE CASCADE,
    VideoId NVARCHAR(50) NULL FOREIGN KEY REFERENCES Videos(VideoId) ON DELETE CASCADE
);
GO
-- 6. Bảng Carts - Giỏ hàng của User
CREATE TABLE Carts (
    CartId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL FOREIGN KEY REFERENCES Users(Username) ON DELETE CASCADE,
    VideoId NVARCHAR(50) NOT NULL FOREIGN KEY REFERENCES Videos(VideoId) ON DELETE CASCADE,
    Quantity INT NOT NULL CHECK (Quantity BETWEEN 1 AND 10),
    CreatedAt DATETIME DEFAULT GETDATE(),
    CONSTRAINT UQ_Carts_User_Video UNIQUE (Username, VideoId)
);
GO

-- 7. Bảng Orders - Đơn hàng COD
CREATE TABLE Orders (
    OrderId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    Username NVARCHAR(50) NOT NULL FOREIGN KEY REFERENCES Users(Username) ON DELETE CASCADE,
    ReceiverName NVARCHAR(100) NOT NULL,
    ReceiverPhone NVARCHAR(20) NOT NULL,
    ReceiverAddress NVARCHAR(255) NOT NULL,
    Note NVARCHAR(500) NULL,
    PaymentMethod NVARCHAR(20) NOT NULL DEFAULT 'COD',
    Status NVARCHAR(30) NOT NULL DEFAULT 'NEW',
    TotalAmount DECIMAL(18, 0) NOT NULL DEFAULT 0,
    CreatedAt DATETIME DEFAULT GETDATE(),
    CONSTRAINT CK_Orders_Status CHECK (Status IN ('NEW', 'CONFIRMED', 'PREPARING', 'SHIPPING', 'DELIVERING', 'DELIVERED', 'CANCELED', 'RETURNED'))
);
GO

-- 8. Bảng OrderItems - Chi tiết đơn hàng
CREATE TABLE OrderItems (
    OrderItemId INT IDENTITY(1,1) NOT NULL PRIMARY KEY,
    OrderId INT NOT NULL FOREIGN KEY REFERENCES Orders(OrderId) ON DELETE CASCADE,
    VideoId NVARCHAR(50) NULL FOREIGN KEY REFERENCES Videos(VideoId) ON DELETE SET NULL,
    Title NVARCHAR(200) NOT NULL,
    Poster NVARCHAR(50) NULL,
    Price DECIMAL(18, 0) NOT NULL,
    Quantity INT NOT NULL CHECK (Quantity BETWEEN 1 AND 10)
);
GO

-- =============================================
-- THÊM DỮ LIỆU MẪU (SEED DATA)
-- =============================================

-- Dữ liệu Users (hơn 15 users để kiểm tra phân trang 6 users/trang ở Câu 3)

-- Dữ liệu Category
INSERT INTO Category (Categoryname, Categorycode, Images, Status) VALUES
(N'Âm Nhạc', 'MUSIC', 'cat_music.jpg', 1),
(N'Phim Hoạt Hình', 'ANIME', 'cat_anime.jpg', 1),
(N'Công Nghệ & Lập Trình', 'TECH', 'cat_tech.jpg', 1),
(N'Thể Thao', 'SPORT', 'cat_sport.jpg', 1);

-- Dữ liệu Videos (Nhiều video thuộc Category 1 'Âm Nhạc' và Category 2 'Phim Hoạt Hình' để test phân trang 3 video/trang ở Câu 5)
-- CategoryId 1: Âm Nhạc

-- CategoryId 2: Phim Hoạt Hình

-- CategoryId 3: Công Nghệ & Lập Trình

-- CategoryId 4: Thể Thao

-- Dữ liệu Favorites (Likes) - Tạo chính xác 10 Likes cho VID_M01 giống như mẫu trên đề thi: Like(10)

-- Dữ liệu Shares - Tạo chính xác 10 Shares cho VID_M01 giống như mẫu trên đề thi: Share(10)

GO


-- Dữ liệu mẫu Orders đủ 8 trạng thái để kiểm tra bộ lọc lịch sử đặt hàng
SET IDENTITY_INSERT Orders ON;
SET IDENTITY_INSERT Orders OFF;


GO